<div style="margin-left: 25px; margin-top: 25px; margin-right: 25px">
        <div style="max-width: 600px; min-width: 230px">
            <div style="font-size: medium; text-align: left;
                    margin-right: 10px; min-width: 230px">
             <p>Certifications of courses</p>
            <ul>
                <li>
                    <a href="./../../static/file/courses/CourseraHJNNTR3SYD3C.pdf" target="blank">
                        Duke University, 2016, Arrays, Lists, and Structured Data</a>
                </li>
                <li>
                    <a href="./../../static/file/courses/Coursera DMDHPVT9PG62.pdf" target="blank">
                        University of California San Diego, 2018, Object Oriented Programming in Java</a>
                </li>
                <li>
                    <a href="./../../static/file/courses/Coursera ECX969F3GNY9.pdf" target="blank">
                        Vanderbilt University, 2021, Java for Android</a>
                </li>
            </ul>
                <p>Certifications of Specializations</p>
                <ul>
                    <li>
                        <a href="./../../static/file/courses/Coursera YKLHR9669QSB.pdf" target="blank">
                            École Polytechnique Fédérale de Lausanne, 2017, Functional Programming in Scala</a>
                        <ol>Course Certificates Completed:
                            <li>
                                Functional Programming in Scala Capstone
                            </li>
                            <li>
                                Functional Program Design in Scala
                            </li>
                            <li>
                                Big Data Analysis with Scala and Spark
                            </li>
                            <li>
                                Parallel programming
                            </li>
                            <li>
                                Functional Programming Principles in Scala
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
</div>