<div style="margin-left: 25px; margin-top: 25px; margin-right: 25px">
        <div style="max-width: 600px; min-width: 230px">
            <div style="font-size: medium; text-align: left;
                    margin-right: 10px; min-width: 230px">
            <ul>
                <li>
                    <a href="./../../static/file/courses/CourseraHJNNTR3SYD3C.pdf" target="blank">Duke University, 2016, Arrays,
                    Lists, and Structured Data</a>
                </li>
            </ul>
            </div>
        </div>
</div>