<div style="margin-left: 25px; margin-top: 25px; margin-right: 25px">
        <div style="max-width: 600px; min-width: 230px">
            <div style="font-size: medium; text-align: left;
                    margin-right: 10px; min-width: 230px">
             <p>The pet projects</p>
                <ul>
                    <li>
                        <p>
                            Task manager - todo(<a href="https://github.com/neckcode/todo">code</a> | run)
                        </p>
                    </li>
                </ul>
            </div>
        </div>
</div>